@use 'src/styles/abstracts';

.content_wrapper {
  width: 597px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @include abstracts.small() {
    padding-top: 64px;
    width: 100%;
  }
}
