.content_wrapper {
  // margin-bottom: 65px;
}

.content_head {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 35px;
}

.content_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
