@use 'src/styles/abstracts';

.header_wrapper {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(16px);
  @include abstracts.small() {
    height: 54px;
  }
}
