@use "../abstracts" as *;

* {
  font-variation-settings:
          'wght' var(--font-weight, 375),
          'wdth' var(--font-width, 80);
}

body {
  //font-size: ;
  //font-family: ;
  //color: ;
  //letter-spacing: -.5px;
}


h1, h2, h3, h4 {

}


.title {
}

h1,
.h1 {
}

h2,
.h2 {
}
h3,
.h3 {
}

h4,
.h4 {
}

small,
.text-small {
}

strong {
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// no class attribute
p:not([class]),
ul:not([class]),
li:not([class]) {
  max-width: 60ch;
}