@use 'src/styles/abstracts';

.content_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include abstracts.full-page-height();
  @include abstracts.small() {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.black {
    background-image: url('/images/pc_black.webp');
    background-attachment: fixed;
    background-size: cover;

    @include abstracts.small() {
      background-image: url('/images/mobile_black.webp');
    }
  }
  &.white {
    background-image: url('/images/pc_white.webp');
    background-attachment: fixed;
    background-size: cover;

    @include abstracts.small() {
      background-image: url('/images/mobile_white.webp');
    }
  }

  .left_content_wrapper {
    display: flex;
    justify-content: center;
    h1 {
      display: inline-block;
      font-size: 44px;
      font-style: normal;
      font-weight: 400;
      @include abstracts.small() {
        font-size: 24px;
      }
    }
    @include abstracts.medium() {
    }
    .left_content {
      width: 358px;
      aspect-ratio: 358 / 241;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .small_icon {
      position: relative;
      width: 250px;
      height: 165px;
    }
    @include abstracts.small() {
      position: inherit;
      padding-top: 90px;
      .left_content {
        width: 260px;
        position: relative;
        display: flex;
        flex-direction: column;
        .small_icon {
          position: relative;
          display: block;
          width: 160px;
          height: 106px;
        }
      }
    }
  }

  .right_content {
    @include abstracts.full-page-height();
    height: 100%;
    display: flex;
    @include abstracts.small() {
      margin-left: 0;
      width: 100%;
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
